@media all and (max-width: 1199px){

}

@media all and (max-width: 991px){
	
}

@media all and (max-width: 767px){
	
}

@media all and (max-width: 575px){
	
}

@media all and (min-width: 450px){
    .main_container {
        max-width: 450px;
        margin: 0 auto;
        width: 100%;
        overflow-x: hidden;
    }
}

@media all and (max-width: 400px){
    .order_calculate_btn { 
        width: 100%;
    }
    .right_content_box a { 
        padding: 5px 4px; 
    }
    .content_order_item_name h4 { 
        font-size: 14px; 
    }
    .right_content_item p { 
        font-size: 14px;
    }
    .btn_red{ 
        font-size: 14px;
    }
    .search_group_btn button { 
        font-size: 16px; 
    }
    .right_content_item { 
        margin-top: 10px; 
    }
}