@media all and (max-width: 1199px){

}

@media all and (max-width: 991px){
	
}

@media all and (max-width: 767px){
	
}

@media all and (max-width: 575px){
	
}

@media all and (min-width: 450px){
    .main_container {
        max-width: 450px;
        margin: 0 auto;
        width: 100%;
        overflow-x: hidden;
    }
}

@media all and (max-width: 400px){
    .order_calculate_btn { 
        width: 100%;
    }
}