@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

html{
	font-size: 62.5%;
	overflow: hidden !important;
}
body{	
	font-size: 1.6rem; 
	font-weight: 400;
	overflow-x: hidden !important;
	font-family: "Heebo", sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
ul li a,a{
	text-decoration: none;
}
/*======================  Start Page  ======================*/

.login_img img {
	width: 100%;
}

.login_img {
	width: 100%;
	max-width: 405px;
	margin: 10px auto;
}

.login_body{
	background-color: #E0E0E0;
}

/* .right_content_items {
	height: 400px;
	overflow-y: scroll;
} */

.login_form {
	background: #37474F;
	position: absolute;
	margin-top: 52px;
	padding: 80px 0 10px 0;
	border-radius: 20px 20px 0 0;
	width: 100%;
	bottom: -100%;
	left: 0;
	transition: 0.6s;
}

.login_logo img {
	width: 110px;
	margin: 0 auto;
	text-align: center;
	position: absolute;
	top: -56px;
	left: 0;
	right: 0;
}

.main_container {
	height: 100vh;
	overflow: hidden;
	position: relative;
}

.login_form_form {
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
	text-align: center;
}

.login_form_form h3 {
	font-size: 18px;
	color: #01B15A;
	font-weight: 700; 
}

.form_group { 
	margin-top: 20px;
}
.form_group input {
	width: 100%;
	background: #263238;
	border: none;
	padding: 9px 25px;
	text-align: center;
	border-radius: 10px;
	color: #fff;
}

.form_group input::placeholder { 
	color: #37474f;
}

.form_group input:focus:focus-visible {
	color: #fff;
	outline: none;
}

.form_group_txt {
	color: #cf9b00;
	text-align: right;
	margin-top: 7px;
}

.form_group button {
	background: linear-gradient(90deg, rgba(1,165,84,1) 0%, rgba(1,235,119,1) 100%);
	border: none;
	width: 100%;
	padding: 11px 0;
	font-size: 26px;
	font-weight: 700;
	border-radius: 20px;
	transition: 0.3s;
}

.form_group button:hover {
	opacity: 0.83;
}

.login_footer {
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login_footer img {
	width: 115px;
}

.login_footer p {
	color: #e0e0e0;
}

.left_search_area ul li a img {
	width: 60px;
}

.order_list_area {
	display: flex;
	justify-content: space-between;
}

.right_content_items {
	height: 100vh;
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
	padding-top: 60px;
}

.right_content_items::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.btn_wtp img {
	width: 21px;
}


.right_content_box ul {
	display: flex;
	gap: 5px !important;
	/* justify-content: space-between; */
}

.right_content {
	flex: 0 0 83%;
	/* height: 100vh; */
	position: relative;
	overflow-y: scroll;
}

.right_logo img {
	width: 165px;
}

.right_logo {
	text-align: right;
}

.right_content_box a {
	background: #263238;
	padding: 5px 8px;
	border-radius: 5px;
	font-size: 12px;
	color: #fff;
}

.order_list_area {
	padding: 5px;
}

.right_content_item {
	background: #fff;
	margin-top: 15px;
	padding: 10px 10px;
	border-radius: 15px;
}

.right_content_top{ 
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content_order_item_name h4 {
	color: #263238;
	font-size: 16px;
	font-weight: 700;
}

.content_order_item_name {
	text-align: right;
}

.content_order_item_name span {
	color: #263238; 
}

.right_content_item p {
	color: #263238;
	font-size: 16px;
}

.btn_red{ 
	background: #E04D38;
	color: #fff;
	padding: 3px 12px;
	border-radius: 8px;
}

.order_list_body{ 
	background: #E0E0E0;
}

.search_order_green,
.search_order_yellow,
.search_order_red,
.search_order {
	width: 54px;
	height: 54px; 
	background: #263238;
	border-radius: 100%;
	color: #fff;
	font-size: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	position: relative;
}

.search_order_green{ 
	background: #02EC78;
	margin-top: 5px; 
	color: #000;
}
.search_order_yellow{ 
	background: #D8C100;
	margin-top: 5px; 
	color: #000;
}
.search_order_red{ 
	background: #E04D38;
	margin-top: 5px; 
}

.right_hide_content ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.right_hide_content {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #ddd;
}

.btn_green {
	background: #02EC78;
	color: #000;
	width: 100px;
	display: inline-block;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	border-radius: 20px;
	padding: 4px 10px;
	font-weight: 700;
	font-size: 14px;
}

.btn_green:hover { 
	color: #000;
}

.bold_tag{
	font-weight: 500;
}

.btn_dark {
	background: #37474F;
	color: #fff;
	width: 100px;
	display: inline-block;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	border-radius: 20px;
	padding: 4px 10px;
	font-weight: 700;
	font-size: 14px;
}

.btn_dark:hover {
	 
	color: #fff;
}


.btn_dark span {
	background: #02EC78;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	color: #000;
}

.btn_wtp {
	color: #37474f;
	font-size: 18px;
	font-weight: 400;
}

.btn_wtp:hover { 
	color: #37474f;
}

.btn_wtp i{
	color: #02EC78; 
}

.right_hide_content{
	display: none;
}

.btn_red:hover {
	color: #fff;
}

.right_content_footer img {
	width: 115px;
}

.right_content_footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 0;
	background: #fdfdfd5c;
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #ffffffbd;
	z-index: 9;
}

.right_content_btn_red{
	background: #E04D38 !important;
}

.table_search_slide_box {
	position: absolute;
	top: 0;
	background: #37474F;
	right: -100%;
	width: 66%;
	height: 100vh;
	padding: 25px;
	transition: 1s;
}

.barcode_product_with_scan img {
	width: 100%;
}

.search_group select::-webkit-inner-spin-button,
.search_group select::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.search_group select {
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Chrome, Safari, Edge */
    appearance: none; /* Standard */
    background: transparent; /* Remove background */
    background-image: none; /* Remove arrow */
}



.search_group input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

.search_group select ,
.search_group input {
	width: 100%;
	margin-bottom: 11px;
	background: #263238;
	border: none;
	padding: 9px 10px;
	border-radius: 10px;
	color: #fff;
}

.search_group {
	position: relative;
}

/* date type work or not for check  */

.search_group input[type="date"] {
	direction: ltr; /* This makes sure the date is entered left to right */
	text-align: right; /* Align text to the right */
	padding-right: 10px; /* Adjust padding to make space for the icon */
	position: relative;
}

/* Adjust the calendar icon */
.search_group input[type="date"]::-webkit-calendar-picker-indicator {
	position: absolute;
	right: 0;
	padding: 0 10px;
	cursor: pointer; /* Ensure the cursor changes to pointer to indicate clickable */
}

/* Hide the icon for other browsers (non-WebKit) and manage positioning through JavaScript */
.search_group input[type="date"]::-webkit-clear-button,
.search_group input[type="date"]::-webkit-inner-spin-button {
	display: none;
}

.search_group input[type="date"] {
	direction: ltr; /* Ensure the date is entered left to right */
	text-align: right; /* Align text to the right */
	padding-right: 10px; /* Adjust padding to make space for the icon */
	position: relative;
}

/* WebKit browsers (Chrome, Safari) */
.search_group input[type="date"]::-webkit-calendar-picker-indicator {
	position: absolute;
	right: 0;
	padding: 0 10px;
	cursor: pointer;
}

.search_group input[type="date"]::-webkit-inner-spin-button,
.search_group input[type="date"]::-webkit-clear-button {
	display: none;
}

/* Firefox */
.search_group input[type="date"]::-moz-focus-inner {
	border: 0;
}

.search_group input[type="date"]::-moz-clear {
	display: none;
}

.search_group input[type="date"]::-moz-placeholder {
	color: transparent;
}

/* Remove Firefox calendar icon */
.search_group input[type="date"]::-moz-calendar-picker-indicator {
	display: none;
}

/* Internet Explorer */
.search_group input[type="date"]::-ms-clear {
	display: none;
}

.search_group input[type="date"]::-ms-reveal {
	display: none;
}

.search_group img {
	font-size: 20px;
	position: absolute;
	left: 9px;
	top: 7px; 
	width: 21px;
}

.search_group_radio {
	display: flex;
	align-items: center;
	gap: 13px;
}

.search_group_radio label {
	font-size: 14px;
	color: #fff;
	margin-bottom: 0;
}

.search_group_btn button {
	width: 100%;
	border: none;
	padding: 20px 0;
	margin-top: 35px;
	font-size: 24px;
	font-weight: 700 !important;
	color: #263238 !important;
	font-size: 21px !important;
	border-radius: 40px !important;
}

.position_fixed_order {
	position: absolute;
	width: 100%;
	background: #E0E0E0BD;
	padding-bottom: 5px;
}

.search_group_btn button img {
	width: 28px;
}

.search_box_slide h3 {
	font-size: 25px;
	color: #fff;
	margin-bottom: 23px;
	font-weight: 100;
}

.search_group_radio input {
	accent-color: #02EC78;
}

.btn_arrow_search_cart,
.btn_arrow_search {
	position: absolute;
	left: -23px;
	top: 52%;
	background: #02EC78;
	border: none;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	border: 1px solid #37474F;
	font-size: 29px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.btn_arrow_search_cart {
	position: absolute;
	left: -23px;
	top: 52%;
	background: #02EC78;
	border: none;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	border: 1px solid #37474F;
	font-size: 29px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.single_order_collection {
	background: #fff;
	margin-top: 15px;
	padding: 10px 10px;
	border-radius: 15px;
}

.single_product_box img {
	width: 65px;
}

.single_product_box {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.collection_product_top {
	display: flex;
	align-items: center;
	gap: 10px;
	justify-content: space-between;
}

.collection_product_top h5 {
	font-size: 16px;
}

.collection_product_content {
	flex: 0 0 81%;
}

.collection_product_bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.collection_product_top a {
	background: #02EC78;
	width: 100px;
	padding: 5px 0;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000;
	font-weight: 400;
}

.order_collection_box {
	margin-top: 50px;
	height: 100vh;
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
}


.order_collection_box::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}


.collection_barcode img {
	width: 38px !important;
	cursor: pointer;
}

.collection_product_top h4 {
	font-size: 18px;
	font-weight: 700;
	text-align: right;
}

.collection_product_bottom.order_collection_border {
	padding-top: 10px;
	margin-top: 10px;
	border-top: 1px solid #8c8c8c;
}

.collection_product_bottom {
	padding-top: 10px;
}

.collection_product_bottom a {
	width: 144px;
	padding: 10px 0;
}

.collection_barcode img { 
	width: 52px;
}

.collection_barcode p {
	font-size: 12px;
}

.cart_popup_box .btn_yellow {
	padding: 6px 0;
	border-radius: 20px;
}

.collection_ex p {
	background: #D8C100;
	border-radius: 20px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0;
	gap: 6px;
	margin-top: 15px;
	font-size: 14px;
}

.collection_product_top a span {
	font-size: 18px !important;
}

.collection_ex p i {
	font-size: 26px;
}

.order_collection_top_menu ul {
	display: flex;   
	right: 0;
	top: 0; 
	z-index: 999;
	gap: 10px;
}

.collection_barcode {
	display: flex;
	flex-direction: column;
	align-items: baseline;
}

.btn_collection_green, .btn_collection_dark {
	border-radius: 8px !important; 
	font-weight: 400 !important;
}

.btn_collection_dark {
	background: #37474F;
	color: #02EC78;
	width: 100px;
	display: inline-block;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	border-radius: 20px;
	padding: 4px 10px;
	font-weight: 700;
}

.btn_collection_dark:hover {
	color: #02EC78;
}

.btn_collection_dark span {
	background: #02EC78;
	color: #fff;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	font-size: 12px;
	flex: 0 0 auto;
}

.btn_collection_green {
	background: #02EC78;
	color: #000;
	width: 100px;
	display: inline-block;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	border-radius: 20px;
	padding: 4px 10px;
	font-weight: 700;
}

.btn_collection_green:hover {
	color: #000;
}

.btn_collection_green span {
	background: #37474F;
	color: #02EC78;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	font-size: 12px;
	flex: 0 0 auto;
}

.order_collection_top_menu {
	position: absolute;
	right: 0;
	width: 100%;
	background: #dddddd70;
	padding: 8px 6px;
}

.left_search_area {
	position: relative;
	z-index: 99;
}

.order_collection_box {
	margin-top: 32px;
}

.cart_product_popup {
	position: absolute;
	bottom: -100%;
	left: 0;
	background: #37474F;
	width: 100%;
	z-index: 99999;
	padding: 12px;
	/* display: none; */
	transition: 1s;
	border-radius: 15px 15px 0 0;
}

.cart_product_popup_2 {
	position: absolute;
	bottom: -192px;
	left: 0;
	background: #37474F;
	width: 100%;
	z-index: 99999;
	padding: 12px;
	transition: 1s;
	border-radius: 15px 15px 0 0;
}

.popup_box_text_box h4 {
	color: #f3f4f4;
	font-size: 16px;
	margin-top: 42px;
	font-weight: 700;
}

.cart_product_item {
	background: #fff;
	margin-top: 15px;
	padding: 10px 10px;
	border-radius: 15px;
	display: flex;
	gap: 8px;
	align-items: center;
	justify-content: space-between;
}


.popup_box_text_box ul li p {
	font-size: 16px;
	color: #f3f4f4;  
}

.popup_box_text_box ul { 
	margin: 10px 0;
}

.popup_black_box {
	background: #263238;
	border-radius: 10px;
	padding: 12px;
	display: flex;
  	gap: 10px;
}

.popup_black_box i {
	color: #D8C100;
	transform: translateY(5px);
}

.popup_black_box p {
	font-size: 13px;
	color: #f3f4f4;  
}

.cart_product_item img {
	width: 55px;
}

.cart_quantity_count {
	background: #01EB77;
	padding: 5px 10px;
	border-radius: 15px;
	display: flex;
	align-items: center;
	gap: 6px;
	justify-content: space-between;
}

.cart_product_item p {
	font-size: 12px;
	font-weight: 700;
	text-align: right;
}

.cart_popup_box {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cart_popup_box ul {
	display: flex;
	gap: 5px;
}

.cart_product_search {
	position: relative;
	margin: 32px 0 15px 0;
}

.cart_product_search input {
	width: 100%;
	border: none;
	background: #263238;
	padding: 16px;
	border-radius: 10px;
	color: #fff;
}

.cart_product_search i {
	position: absolute;
	font-size: 20px;
	left: 16px; 
	top: 19px;
	color: #02EC78;
	cursor: pointer;
}

.btn_green_order {
	background: #02EC78 !important;
	color: #000 !important;
}

.btn_green_order,
.btn_yellow {
	background: #D8C100; 
	color: #fff;
	padding: 3px 12px;
	border-radius: 8px;
	font-size: 12px;
}

.btn_green_order:hover,
.btn_yellow:hover { 
	color: #fff;
}

.left_search_area ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cart_more_info span {
	background: #D8C100;
	padding: 1px 5px;
	border-radius: 10px;
	font-size: 14px;
	font-weight: 700;
}

.cart_more_info {
	text-align: right;
}

.cart_more_info p {
	font-size: 16px;
	color: #fff;
	font-weight: 700;
}

.card_add_more i {
	color: #949DA1;
	font-size: 36px;
}

.card_add_more button {
	background: transparent;
	border: none;
}

.cart_quantity_count button {
	background: transparent;
	border: none;
}

.cart_product_lists {
	width: 93%;
	margin: 0 auto;
	height: 250px;
	overflow-y: scroll; 
	scrollbar-width: none;
	-ms-overflow-style: none; 
}

.cart_product_lists::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}


.order_calculate_popup {
	position: absolute;
	top: 0;
	background: #37474F;
	right: -100%;
	width: 66%;
	height: 100%;
	padding: 25px;
	transition: 1s;
}

.card_product_left a {
	border-radius: 15px;
}

.order_calculate_tap {
	background: #253137;
	padding: 10px 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.order_card_cal_dis {
	display: flex;
	align-items: baseline;
	gap: 6px;
}

.order_card_cal_dis h3 {
	font-size: 44px;
	color: #fff;
	font-weight: 700;
}

.order_card_cal_dis p {
	font-size: 18px;
	color: #01C463;
}

.order_calculate_btn {
	margin: 25px auto;
	width: 80%;
}

.order_calculate_btn ul li button {
	border: none;
	background: #CDD0D1;
	width: 60px;
	height: 60px;
	font-size: 40px;
	font-weight: 900;
}

.order_calculate_btn ul {
	display: flex;
	flex-wrap: wrap; 
	gap: 8px;
	justify-content: center;
}

.cal_dot {
	color: #fff;
	background: #263238 !important;
}

.cal_close {
	background: #E04D38 !important;
	color: #fff !important;
}

.single_card_product img {
	width: 80px;
}

.single_card_product {
	display: flex;
	gap: 9px;
	border-top: 1px solid #ddd;
	padding-top: 15px;
	align-items: center;
}

.card_product_left p {
	font-size: 22px;
	color: #fff;
	font-weight: 500;
}

.btn_red.cart_btn_red {
	display: flex;
	justify-content: space-between; 
	width: 100px;
}
.btn_red{ 
	font-size: 12px;
}

.verify_area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999999;
	/* display: none; */
	background-color: #D8E1DCF0;
}

.barcode_btn a {
	background: linear-gradient(90deg, rgba(1,165,84,1) 0%, rgba(1,235,119,1) 100%);
}

.barcode_area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999999;
	display: none;
	background-color: #D8E1DCF0;
}

.barcode_area .collection_product_content {
	flex: 0 0 100%;
}

.dec_link_collection {
	width: auto !important;
	font-size: 14px;
	color: #E04D38;
	text-decoration: underline;
}

.for_for_card.for_for_red {
	background: #E04D38;
	color: #fff !important;
}

.barcode_main_product_area {
	background: #fff;
	width: 85%;
	margin: 25px auto;
	padding: 5px;
	border-radius: 10px;
}

.barcode_info {
	background: #263238;
	width: 85%;
	margin: 0 auto;
	padding: 13px 19px;
	border-radius: 10px;
}

.barcode_btn a {
	text-align: center;
	margin: 0 auto;
	margin-top: 10px;
}

.barcode_title p {
	font-size: 16px;
	color: #fff;
}


.barcode_title i {
	color: #D8C100;
	font-size: 22px;
}

.barcode_title {
	display: flex;
	gap: 12px;
}

.barcode_info {
	margin-top: 0;
}

.barcode_back_btn button {  
	background: #02EC78;
	border: none;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	border: 1px solid #37474F;
	font-size: 29px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.barcode_back_btn {
	margin-top: 32px;
	text-align: center;
}

.verify_code {
	display: flex;
	justify-content: space-between;
}

.verify_code li p {
	background: #37474F;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	font-size: 42px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	color: #263238;
}


.verify_code li p.active {
	background: #02EC78;
}

.verify_code {
	margin: 25px 0;
}

.btn_for_yellow {
	font-weight: 700;
	color: #000 !important;
	background-color: #D8C100 !important;
}

.side_tooltip_3,
.side_tooltip_2,
.side_tooltip_1 {
	background: #263238;
	font-size: 14px;
	padding: 3px 10px;
	color: #E04D38;
	font-weight: 300;
	position: absolute;
	right: -65px;
	top: 14px;
	display: none;
}

.side_tooltip_3 {
	color: #02EC78;
}

.side_tooltip_2 {
	color: #D8C100;
}

.side_tooltip_3::after ,
.side_tooltip_2::after ,
.side_tooltip_1::after {
	content: '';
	position: absolute;
	left: -29px;
	top: 0px;
	border-top: 13px solid transparent;
	border-left: 13px solid transparent;
	border-right: 16px solid #263238;
	border-bottom: 14px solid transparent;
}

/* .logo_anima{
	animation: arrowUpDown 1s infinite;
} */


/* @keyframes arrowUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
} */

/*======================  End Page  ======================*/


